<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
<p>Welcome to the index page.</p>

<% include partials/footer %>
</body>
</html>